<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <header>
            <% include ./partials/header %>
        </header>
        <div class="container">
        <div class="my-4">
            <h1>About Us <small>It's Nice to Meet You!</small></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            <p>
                <script>
                function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}    
                </script>
            </p>
        </div>
        </div>
        <footer>
            <% include ./partials/footer %>
        </footer>

    </body>
</html>