      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 600px;
        width:100%
      }

      .org-details{
        padding: 50px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        background: #dbdfe5;
        height: 300px;
    }
    
    .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  
  /* Remove border and add padding to thumbnails */
  .thumbnail .org {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
      
  }
  .event{
      width:280px;
    padding: 0;
    border: none;
    border-radius: 0;
    }

  .thumbnail p, .thumbnail h4 {
      margin: 10px;
  }

  .event .btn {
    margin: 0px; 
  }
  .thumbnail p{
    color: #555;
  }
/* Black buttons with extra padding and without rounded borders */
.org a{
    margin: 0;
    padding: 0;
}